<div
  style="
    background-color: aqua;
    height: 100vh;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px 0px 0px 0px;
  "
>
  <div
    style="
      display: flex;
      justify-content: center;
      background-color: rgb(237, 252, 95);
    "
  >
    <h1
      style="
        font-size: 40px;
        font-family: 'Gill Sans', sans-serif;
        color: rgb(209, 0, 209);
      "
    >
      WORDLE
    </h1>
  </div>

  <app-board
    style="
      display: flex;
      justify-content: center;
      position: relative;
      top: 50px;
    "
  >
  </app-board>
</div>
